body {
    font-family: Arial, sans-serif;
    background-image: url('img/back.jpg');
    background-size: cover;
    background-position: center;
    color: #ecf0f1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.2em;
}

.slot-machine {
    margin-top: 20px;
}

.reels {
    display: flex;
    gap: 10px; /* Задайте нужное расстояние между барабанами */
    margin: 20px 0;
    padding-left: 80px; /* Добавьте эту строчку, чтобы подвинуть вправо */
    padding-right: 50px; /* Добавьте эту строчку, чтобы подвинуть влево */
}

.reel {
    width: 90px;
    height: 240px; /* Увеличиваем высоту барабана */
    border: 2px solid #ecf0f1;
    background-color: rgba(52, 73, 94, 0.5); /* Слегка прозрачный фон */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 2em;
    font-weight: bold;
    color: #1abc9c;
}

.symbol {
    height: 80px; /* Высота каждого символа */
    display: flex;
    align-items: center;
    justify-content: center;
}

.spin-button,
.exit-button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #1abc9c;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}

.spin-button:hover,
.exit-button:hover {
    background-color: #16a085;
}
